.min-height-90 { min-height : 90px; }
.height90 { height : 90px; }
.width200 { width: 200px; }
.margin-15 { margin : 15px; }
.margin-0-15{ margin : 0px 10px;}
.margin-left-20{ margin-left : 20px;}
.margin-left-40{ margin-left : 40px;}
.paddingTitle{ padding-left: 20px; padding-top: 35px;}
.padding5 { padding: 5px; }
.padding-15-20 { padding : 15px 20px;}
.margin-top-135{ margin-top : 135px;}
.TabContentMargin{ margin : 20px 20px 0px 20px; }
/*
.padding-0{padding: 0!important;}
.padding-top-0{padding-top: 0!important; }
.padding-bottom-0{padding-bottom:0!important; }$

.padding-5{padding: 5px!important;}
.padding-bottom-5{padding-bottom: 5px!important; }

.padding-10{padding: 10px;}
.padding-top-10{padding-top: 10px!important; }
.padding-bottom-10{padding-bottom: 10px!important; }
.padding-left-10{padding-left: 10px!important; }
.padding-right-10{padding-right: 10px!important; }

.padding-top-20{padding-top: 20px; }
.padding-bottom-20{padding-bottom: 20px; }
.padding-left-20{padding-left: 20px!important; }
.padding-right-20{padding-right: 20px!important; }
.padding-top-30{padding-top: 30px!important; }
.padding-bottom-30{padding-bottom: 30px; }
.padding-left-30{padding-left: 30px!important; }
.padding-right-30{padding-right: 30px!important; }
.padding-top-35{padding-top: 35px; }
.padding-bottom-35{padding-bottom: 35px; }
.padding-left-35{padding-left: 35px!important; }
.padding-right-35{padding-right: 35px!important; }
.padding-top-40{padding-top: 40px; }
.padding-bottom-40{padding-bottom: 40px; }
.padding-left-40{padding-left: 40px!important; }
.padding-right-40{padding-right: 40px!important; }

.margin-top-20{margin-top:20px!important; }
.margin-bottom-20{margin-bottom:20px!important; }
.margin-right-20{margin-right:20px!important; }
.margin-left-20{margin-left:20px!important; }
.margin-top-10{margin-top:10px!important; }
.margin-bottom-10{margin-bottom:10px;}
.margin-right-10{margin-right:10px;}
.margin-left-10{margin-left:10px;}
.margin-right-5{margin-right:5px!important;}
.margin-right-5{margin-right:5px!important;}
.margin-top-5{margin-top:5px!important;}
.padding-bottom-5{padding-bottom:5px!important;}

.margin-right-0{margin-right:0!important;}
.margin-right-0{margin-right:0!important;}
.margin-top-0{margin-top:0!important;}
.margin-bottom-0{margin-bottom:0!important;}
*/

html{
	overflow-y : auto;
}
body{
	height : 100%;
	width : 100%;
	overflow-x: initial;
}

.MainPanelTop{
	height : 135px;
}
/*****************  LEFT NAVIGATOR***************/
.leftpanel{
	position :fixed;
	top : 60px;
	height: 100%;
}

.leftpanel .nav li{
	min-height : 45px;
}

.leftpanel .parent .children li{
	min-height : auto;
}


/******** MAIN LEFT NAVIGATOR *********/
.MainPanelLeft .nav li:last-child{
	border-bottom: 1px solid #E7E7E7;
}

.titleleftpanel span{
	margin-left : 5px;
	color : black;
	font-size: 15px;
}

.ButtonNewGallerie{
	display : inline-block;
	float : right;
	margin :15px 0px ;
}


.MainPanelLeft .media-list > li{
	border-style: solid none none;
	border-radius: 0px;
}

.MainPanelLeft .media-list > li:last-child{
	border-style: solid none solid;
}

.MainPanelLeft .media-list > li .ckbox{
	margin-top : 0px;
	display : inline-block;
}

.MainPanelLeft .media-list > li{
	height : 45px;
}
.MainPanelLeft .media-list > li .media-body{
	line-height: 23px;
}
.DivSearchLeftMain{
	height : 44px;
	border-top: 1px solid #E7E7E7;
	padding : 5px;
}

.SearchLeftMain{
	border-radius: 50px;
	padding: 5px 30px;
}

.IconeSearchGallery{
	position: absolute;
	top: 10px;
	left: 10px;
}

.MainPanelBottom{
	overflow-y: auto;
	height: auto;
}


/*
.read{
	background-color: #E4E7EA;
}
#galleryselect
{
    background-color: #E4E7EA;
}
#gallerynoselect:hover
{
    background-color: rgb(247,247,247);
}*/

/* MENU SCROLLER*/
.scroll {
  white-space: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  width: 730px;
  width : 100%;
  height : 45px;
  overflow-y: hidden;
}
.mainwrapper .scroll .nav {
	margin-top: 0px;
	min-width: 730px;
}
.scroll .nav > li {
	display : inline-block;
}

.scroll .nav li a{
	/*color: #555;*/
}

.nav-line > li.active > a{
	color : #428BCA !important;
}
.nav-tabs > li {
    margin-bottom: 0px;
}

.nav-tabs > li > a{
	padding: 10px 15px;
}

.buttonEditgallerie
{
	float : right;
	margin :20px;

}

.InputSelected{
	display : inline-block;
	margin-left : 20px;
}

.coverpicture{
	margin-top : 10px;

}
.returnmainleftpanel{
	position: absolute;
	top: 5px;
	left: 10px;
}

/*************************EDIT GALLERIE ***************************/
.editpersonalinformation{
	margin-top : 10px;
}

.editvalid{
	margin-left : 10px;
	float : right;
}

.editselect
{
	width : 100%;
}
.galleryvisible{
	margin-top : 15px;
}
.legalactive, .legalparticipation{
	margin-top : 5px;
}

.editvalid .btn{
	float : right;
}

/**********************  TAB ONGLET *******************/
.tab-content
{
	padding :  0px;
}

.tabmenusearch
{
	margin-left: 10px;
	display: inline-block;
	margin-bottom: 10px;
	vertical-align : top;
}

.tabmenusearch2
{
	display: inline-block;
}

.MainPanelBottomRightTableScroller{
	overflow-y :auto;
	height : auto;
}

.table thead > tr > th span{
    padding-left :10px;
}

.tablesorter-header{
	background-image: url("../img/black-unsorted.gif");
	background-repeat: no-repeat;
	background-position: left center;
}

.tablesorter-headerDesc{
	background-image: url("../img/black-desc.gif");
	background-repeat: no-repeat;
	background-position: left center;
}

.tablesorter-headerAsc{
	background-image: url("../img/black-asc.gif");
	background-repeat: no-repeat;
	background-position: left center;
}

.tabsearch{
	padding : 5px;
	border-radius: 40px;
	padding-left: 30px;
}
.iconetabsearch
{
	position: absolute;
	top: 10px;
	left: 10px;
}

.totalartworks{
	font-weight: bold;
	font-size: medium;
}

.highlighted {
    background-color: #FFFEEE;
}

.MainPanelRight:after{
content: " ";;
position: fixed;
border-left: 1px solid #E7E7E7 !important;
top: 0px;
height: 100%;
}


/***************************** MEDIA QUERIES *********************************/

@media screen and (max-width: 1155px){

    .MainRightPanel .nav li
    {
    	display : inline-block;
    }
}

@media screen and (max-width: 482px){

	.gallerielabel {
		margin-top : 10px;
	}

}
@media screen and (max-width: 350px){

	.tabmenusearch2{
		vertical-align: top;
	}

	.InputSelected{
		margin-left : 0px;
		display : block;
	}


}







