    <!-- =========================
         FOOTER 
    ============================== -->
    <footer>

    <div class="container hidden-xs">
        
        <!-- LOGO -->
        <img src="img/ill/logo-black.png" alt="LOGO" class="responsive-img">
        
        <!-- SOCIAL ICONS -->
        <ul class="social-icons">
            <li><a href=""><i class="social_facebook_square"></i></a></li>
            <li><a href=""><i class="social_twitter_square"></i></a></li>
            <li><a href=""><i class="social_pinterest_square"></i></a></li>
            <li><a href=""><i class="social_googleplus_square"></i></a></li>
            <li><a href=""><i class="social_instagram_square"></i></a></li>
            <li><a href=""><i class="social_dribbble_square"></i></a></li>
            <li><a href=""><i class="social_flickr_square"></i></a></li>
        </ul>
        
        <!-- COPYRIGHT TEXT -->
        <p class="copyright">
            ©2014 Kane, All Rights Reserved
        </p>

    </div>
    <!-- /END CONTAINER -->
     
    </footer>
    <!-- /END FOOTER -->